@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GangwonEdu_OTFBoldA';
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    text-align: center;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

.contents {
    margin: auto;
}

.start-btn {
    border: none;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 30px;
}

footer {
    margin: auto;
}

footer a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.answer-btn {
    display: flex;
    flex-direction: column;
}